.registro-content {
  background: linear-gradient(45deg, var(--ion-color-primary), var(--ion-color-secondary));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  animation: backgroundAnimation 5s infinite alternate;
}

ion-label {
  margin-bottom: 1rem !important;
}

@keyframes backgroundAnimation {
  0% { background: linear-gradient(45deg, var(--ion-color-primary), var(--ion-color-secondary)); }
  100% { background: linear-gradient(45deg, var(--ion-color-primary-shade), var(--ion-color-secondary-shade)); }
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: var(--ion-background-color);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 6px 12px var(--ion-shadow-color, rgba(0, 0, 0, 0.1));
}

ion-list{
  background: var(--ion-background-color);
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 10px;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}

.submit-btn {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --border-radius: 50px;
  font-size: 1.2rem;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  --background: var(--ion-color-primary-shade);
  transform: scale(1.05);
}

.submit-btn:disabled {
  --background: var(--ion-color-medium);
}

.success-message {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  box-shadow: 0 4px 6px var(--ion-shadow-color, rgba(0, 0, 0, 0.1));
  transition: opacity 0.5s ease-out;
}

.success-message p {
  margin: 0;
}

.error-message {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  box-shadow: 0 4px 6px var(--ion-shadow-color, rgba(0, 0, 0, 0.1));
}

.success-message.ng-enter {
  opacity: 0;
}
