<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="registro-content">
  <div class="form-container">
    <form [formGroup]="registroForm" (ngSubmit)="registro()">
      <ion-list>
        <!-- Campos del formulario -->
        <ion-item class="animated-item" [class.invalid]="registroForm.controls['rut'].invalid && registroForm.controls['rut'].dirty">
          <ion-label position="floating">RUT</ion-label>
          <ion-input formControlName="rut" type="text" placeholder="Ej. 12345678 sin punto ni guion" clear-input></ion-input>
        </ion-item>
        <ion-text *ngIf="registroForm.controls['rut'].invalid && registroForm.controls['rut'].dirty">
          <ion-label color="danger">{{ rutInvalid }}</ion-label>
        </ion-text>        
        <ion-item class="animated-item" [class.invalid]="registroForm.controls['Nombre'].invalid && registroForm.controls['Nombre'].dirty">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="Nombre" type="text" placeholder="Juan Pérez" clear-input></ion-input>
        </ion-item>
        <ion-text *ngIf="registroForm.controls['Nombre'].invalid && registroForm.controls['Nombre'].dirty">
          <ion-label color="danger">{{ nombreInvalid }}</ion-label>
        </ion-text>

        <ion-item class="animated-item" [class.invalid]="registroForm.controls['correo'].invalid && registroForm.controls['correo'].dirty">
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="email" placeholder="correo@dominio.com" clear-input></ion-input>
        </ion-item>
        <ion-text *ngIf="registroForm.controls['correo'].invalid && registroForm.controls['correo'].dirty">
          <ion-label color="danger">{{ correoInvalid }}</ion-label>
        </ion-text>
        <ion-text color="warning" class="warning-text">
          Solo correos institucionales.
        </ion-text>

        <ion-item class="animated-item" [class.invalid]="registroForm.controls['contrasena'].invalid && registroForm.controls['contrasena'].dirty">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contrasena" type="password" placeholder="Al menos 6 caracteres" clear-input></ion-input>
        </ion-item>
        <ion-text *ngIf="registroForm.controls['contrasena'].invalid && registroForm.controls['contrasena'].dirty">
          <ion-label color="danger">{{ contrasenaInvalid }}</ion-label>
        </ion-text>

        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="error-message">
          <p>{{ errorMessage }}</p>
        </div>
        <!-- Mensaje de éxito -->
      <div *ngIf="successMessage" class="success-message">
        <p>{{ successMessage }}</p>
      </div>

        <!-- Botón de registro -->
        <ion-button expand="full" type="submit" [disabled]="registroForm.invalid" class="submit-btn">Registrar</ion-button>
      </ion-list>
    </form>
    
  </div>
</ion-content>
