<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" class="cerrar-sesion-btn">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngClass]="{ 'edit-mode': editMode }">
  <!-- Modo Solo Lectura -->
  <div *ngIf="!editMode" class="perfil-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ usuario?.Nombre | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-note>{{ usuario?.correo }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Rol</ion-label>
          <ion-note>{{ usuario?.rol }}</ion-note>
        </ion-item>
        <!-- Solo mostrar el botón de editar si estamos online -->
        <ion-button *ngIf="isOnline$.getValue()" expand="full" (click)="toggleEditMode()" class="edit-btn">Editar Perfil</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Modo Edición -->
  <form *ngIf="editMode" [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <ion-card class="edit-card">
      <ion-card-header>
        <ion-card-title>Editar Perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="Nombre" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="perfilForm.invalid" class="save-btn">Guardar Cambios</ion-button>
        <ion-button expand="full" color="light" (click)="toggleEditMode()" class="cancel-btn">Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
