<ion-content>
  <div *ngFor="let day of diasSemana">
    <h2>{{ day }}</h2>
    <ng-container *ngIf="clasesRegistradas[day] && clasesRegistradas[day].length > 0; else noClases">
      <div *ngFor="let clase of clasesRegistradas[day]">
        <p><strong>Asignatura:</strong> {{ clase.nombreAsignatura }}</p>
        <p><strong>Sala:</strong> {{ clase.codigoSala }}</p>
        <p><strong>Inicio:</strong> {{ clase.horaInicio }}</p>
        <p><strong>Fin:</strong> {{ clase.horaFin }}</p>
        <hr />
      </div>
    </ng-container>
    <ng-template #noClases>
      <p>No hay clases registradas para este día.</p>
    </ng-template>
  </div>
</ion-content>
