<ion-header>
  <app-header>
  </app-header>
  <ion-toolbar>
    <ion-buttons slot="end" color="secondary">
      <ion-button color ="secondary" routerLink="/perfil">
        <ion-icon name="person-circle-outline">Perfil</ion-icon>
      </ion-button> <!-- Ruta a perfil -->
    </ion-buttons>
  <ion-title>Menu</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="height: 100%;">
  <p>User Type: {{ rol }} </p>
  <div class="ion-text-center">
    <div>
      <!-- Botones para el tipo de usuario 'Docente' -->
      <ng-container  *ngIf="rol === 'Profesor'" >
        <div >
          <ion-button class="mb-3 w-100" routerLink="/crear-qr">Generar QR</ion-button> <!-- Ruta a Generar QR -->
        </div>
        <div >
          <ion-button class="mb-3 w-100" routerLink="/clases">Clases registradas</ion-button> <!-- Ruta a Clases registradas -->
        </div>
        <div >
          <ion-button class="w-100" routerLink="/crear-clase">Crear clases</ion-button> <!-- Ruta a Crear clases -->
        </div>
      </ng-container>

      <!-- Botones para el tipo de usuario 'Alumno' -->
      <ng-container  *ngIf="rol === 'Estudiante'">
        <div >
          <ion-button class="mb-3 w-100" routerLink="/horario">Horario</ion-button> <!-- Ruta a Horario -->
        </div>
        <div>
          <ion-button class="mb-3 w-100" routerLink="/escaner">Escanear QR</ion-button> <!-- Ruta a Escanear QR -->
        </div>
        <div >
          <ion-button class="w-100" routerLink="/asistencia">Asistencia</ion-button> <!-- Ruta a Asistencia -->
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
