/* Default Light Theme */
:root {
	--ion-color-primary: #2D42B5;
	--ion-color-primary-rgb: 45,66,181;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #283a9f;
	--ion-color-primary-tint: #4255bc;

	--ion-color-secondary: #F5BA00;
	--ion-color-secondary-rgb: 245,186,0;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d8a400;
	--ion-color-secondary-tint: #f6c11a;

	--ion-color-tertiary: #6030ff;
	--ion-color-tertiary-rgb: 96,48,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #542ae0;
	--ion-color-tertiary-tint: #7045ff;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-background-color: #ffffff;
	--ion-text-color: #000000;
}

/* Dark Theme */
:root.dark-theme {
	--ion-color-primary: #1E2A78;
	--ion-color-primary-rgb: 30,42,120;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-shade: #1a2369;
	--ion-color-primary-tint: #2b358b;

	--ion-color-secondary: #C79700;
	--ion-color-secondary-rgb: 199,151,0;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-shade: #ab8400;
	--ion-color-secondary-tint: #cf9d1a;

	--ion-color-tertiary: #4822b3;
	--ion-color-tertiary-rgb: 72,34,179;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-shade: #3e1e9d;
	--ion-color-tertiary-tint: #5c3bc0;

	--ion-color-success: #218c3b;
	--ion-color-success-rgb: 33,140,59;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-shade: #1e7933;
	--ion-color-success-tint: #2c9d49;

	--ion-color-warning: #e0a800;
	--ion-color-warning-rgb: 224,168,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-shade: #c49200;
	--ion-color-warning-tint: #e3b51a;

	--ion-color-danger: #91000b;
	--ion-color-danger-rgb: 145,0,11;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-shade: #7e000a;
	--ion-color-danger-tint: #9d1a24;

	--ion-color-light: #2a2a2a;
	--ion-color-light-rgb: 42,42,42;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-shade: #242424;
	--ion-color-light-tint: #3d3d3d;

	--ion-color-medium: #999999;
	--ion-color-medium-rgb: 153,153,153;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-shade: #868686;
	--ion-color-medium-tint: #adadad;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0,0,0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

	--ion-background-color: #1f1f1f;
	--ion-text-color: #ffffff;
	--ion-background-color2: #434343;
}
