<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Clases Registradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="asistencia-header">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Promedio de asistencia</ion-card-title>
        <ion-card-subtitle>{{ porcentajeAsistenciaAsignatura.toFixed(2) }}%</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="clases.length === 0" class="no-clases">
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay clases registradas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Actualmente no hay clases para esta asignatura.
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list *ngIf="clases.length > 0">
    <ion-item *ngFor="let clase of clases">
      <ion-card (click)="toggleDetalles(clase)" class="clase-card">
        <ion-card-header>
          <ion-card-title>{{ clase.fecha }}</ion-card-title>
          <ion-card-subtitle>
            Asistencia: {{ calcularPorcentajeClase(clase) }}%
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngIf="clase.mostrarDetalles">
          <div class="class-details">
            <h3 class="details-title">Horario</h3>
            <p>{{ clase.dia }} de {{ clase.horaInicio }} a {{ clase.horaFin }}</p>
            <p><strong>Sala:</strong> {{ clase.codigoSala }}</p>
            

            <h3 class="details-title">Asistentes</h3>
            <ion-list lines="none">
              <ion-item *ngFor="let asistente of clase.asistentes">
                <p>{{ asistente }}</p>
              </ion-item>
            </ion-list>
            
            <h3 class="details-title">Inasistentes</h3>
            <ion-list lines="none">
              <ion-item *ngFor="let inasistente of clase.inasistentes">
                <p>{{ inasistente }}</p>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
