<ion-content [fullscreen]="true" class="login-content">
  <app-header></app-header>

  <div class="login-container">
    <h2 class="ion-text-center">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <!-- Campo de correo -->
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input
          formControlName="correo"
          type="email"
          placeholder="Introduce tu correo"
          [class.invalid]="loginForm.controls['correo'].invalid && loginForm.controls['correo'].touched"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.controls['correo'].invalid && loginForm.controls['correo'].touched">
        <p>Correo inválido</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input
          formControlName="rut"
          type="text"
          placeholder="Introduce tu RUT"
          [class.invalid]="loginForm.controls['rut'].invalid && loginForm.controls['rut'].touched"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.controls['rut'].invalid && loginForm.controls['rut'].touched">
        <p>El RUT es requerido</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          formControlName="contrasena"
          type="password"
          placeholder="Introduce tu contraseña"
          [class.invalid]="loginForm.controls['contrasena'].invalid && loginForm.controls['contrasena'].touched"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.controls['contrasena'].invalid && loginForm.controls['contrasena'].touched">
        <p>La contraseña es requerida</p>
      </ion-text>

      <ion-button type="submit" expand="block" fill="solid" color="primary">
        Iniciar Sesión
      </ion-button>

      <div *ngIf="errorMessage" class="error-message">
        <ion-text color="danger">{{ errorMessage }}</ion-text>
      </div>
    </form>
    <ion-text *ngIf="!isOnline$.value" color="warning">
      Estás en modo offline.
    </ion-text>

    <!-- Enlaces secundarios -->
    <ion-button href="recuperar" expand="block" fill="clear" color="primary" [disabled]="!isOnline">
      ¿Olvidaste tu contraseña?
    </ion-button>
    <ion-button href="registro" expand="block" fill="outline" color="secondary" [disabled]="!isOnline">
      Registrarse
    </ion-button>
  </div>
</ion-content>
