<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
      <ion-item *ngFor="let subject of subjects">
        <ion-label>
          <h2>{{ subject.name }}</h2>
          <p>Asistencias: {{ subject.attendance }}</p>
          <p>Inasistencias: {{ subject.absences }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>