/* Estilos para el header */
ion-header {
  --background: #4CAF50;
  --color: white;
}

ion-title {
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

/* Contenedor del botón de escaneo */
.scan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  height: 70vh; /* Lo mantiene centrado en la pantalla */
}

/* Estilos del botón de escaneo */
.scan-btn {
  width: 180px !important;
  height: 180px !important;
  background: linear-gradient(45deg, #4caf50, #0072ff);
  border-radius: 50% !important;
  color: white;
  font-size: 1.2em !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scan-btn:hover {
  transform: scale(1.1); /* Efecto de agrandamiento */
}

.scan-btn:disabled {
  background-color: #a6c8ff;
  pointer-events: none;
}

/* Indicador de escaneo */
.scan-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

ion-spinner {
  --color: white;
}

/* Estilos para el botón de finalizar */
.finish-btn {
  margin-top: 30px; /* Espacio entre el botón de finalizar y el botón de escaneo */
  width: 90%;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: transparent !important;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.finish-btn:hover {
  background-color: #28c76f;
}

.finish-btn:focus {
  outline: none;
  box-shadow: none;
}

