<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="day-buttons">
    <ion-button expand="full" *ngFor="let day of daysOfWeek" (click)="selectDay(day)">
      {{ day[0] }}
    </ion-button>
  </div>

  <div *ngIf="selectedDay" class="class-list">
    <h2>Clases para {{ selectedDay }}</h2>
    <ion-list *ngIf="clasesRegistradas[selectedDay] && clasesRegistradas[selectedDay].length > 0; else noClasses">
      <ion-item *ngFor="let item of clasesRegistradas[selectedDay]">
        <ion-label> 
          <h3>{{ item.clase.codigoSala }} - {{ item.nombreAsignatura }}</h3>
          <p>{{ item.clase.horaInicio }} - {{ item.clase.horaFin }}</p>
        </ion-label>
        <ion-button expand="block" *ngIf="showGenerateQR" color="secondary"  (click)="selectClase(item.clase)" (click)="generarQR()">
          Generar QR
        </ion-button>
      </ion-item>
    </ion-list>      
    <ng-template #noClasses>
      <p>No hay clases registradas para este día.</p>
    </ng-template>    
    <ion-button expand="full" color="medium" (click)="clearSelection()">Volver a seleccionar</ion-button>
  </div>
</ion-content>
