<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form (submit)="enviarCorreoRecuperacion()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!correo">
          Enviar Correo de Recuperación
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
