/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Forzar el modo claro */
/* Forzar el modo claro siempre */
:root {
    --ion-background-color: #ffffff; /* Fondo blanco */
    --ion-text-color: #000000; /* Texto oscuro */
    --ion-item-background-color: #f4f4f4; /* Fondo claro para los ítems */
    --ion-toolbar-background: #ffffff; /* Fondo blanco en las barras de herramientas */
    --ion-toolbar-color: #000000; /* Color del texto de la barra de herramientas */
    --ion-header-background: #ffffff; /* Fondo blanco en los headers */
    --ion-header-text-color: #000000; /* Color de texto del header */
  }
  
  /* Asegura que el modo oscuro no se aplique, especialmente en el navegador */
  body {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #000000 !important; /* Texto oscuro */
  }
  
  /* Desactivar el modo oscuro de forma global */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #ffffff !important;
      color: #000000 !important;
    }
  }

  ion-title {
    font-size: 20px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
  }
  